@CHARSET "ISO-8859-1";

.x-action-col-cell img.acta_no_eviada {
	background-image: url("../images/icons/unsent_25.png")
}

.x-action-col-cell img.acta_cancelada {
	background-image: url("../images/icons/cancel_25.png")
}

.x-action-col-cell img.acta_no_aprobada {
	background-image: url("../images/icons/not-approved_25.png")
}


.x-action-col-cell img.acta_pend_aprobacion {
	background-image: url("../images/icons/slope_25.png")
}

.x-action-col-cell img.acta_finalizada {
	background-image: url("../images/icons/finished_25.png")
}