@CHARSET "UTF-8";

body{
	background-color: #ffffff;
	
}
.container-error{
	padding-top: 60px;
}
.title{
	font-size: 50px;
	color: black;
	font-weight: bold;	 
}

.title-center{
	text-align: center;
}

.footer{
	padding-top: 20px;
	text-align: center;
}

.btn{
	border: none;
	width: 150px;
	padding: 10px;
	border-radius : 5px;
	cursor: pointer;
}

.btn-blue{
	background: #016EC2;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
}

.message{
	font-size: 20px;
	color: black;
	text-align: center;
	
}



