@CHARSET "ISO-8859-1";

#summaryTotalServicios
{
	margin-left: 625px;
	width: 200px;
	font-weight: bold; 
}

#summaryTotalDetalle
{
	margin-left: 510px;
	width: 200px;
	font-weight: bold; 
}

.summary
{
	width: 100px;
	border: 1px solid;
	border-color: #aaf;
	display: inline-block;
	margin-left: 10px;
	text-align: right;
}