@CHARSET "ISO-8859-1";

.disabledGrid div {
	background: transparent;
}

.disabledGrid {
	background: transparent;
}


.save-button {
	background-image: url(images/save.gif)
}

.detalles-button {
	background-image: url(images/detalles.gif)
}

.add-button {
	background-image: url(images/add.png)
}

.del-button {
	background-image: url(images/delete.gif)
}

.help-button {
	background-image: url(images/help.png)
}

.email-button {
	background-image: url(images/email.png)
}

.file-link {
	color: #0061A5;
	font-style: italic;
	font-weight: bold;
}

.ribbonPanel {
	background: #0061A5 !important;
}

.delete-button {
	background-image: url(images/delete.png)
}

.restore-button {
	background-image: url(images/restore.gif)
}

.cancel-button {
	background-image: url(images/cancel.png)
}

.export-excel-button {
	background-image: url(images/excel.png)
}

.export-pdf-button {
	background-image: url(images/pdf.png)
}

.x-action-col-cell img {
	height: 16px;
	width: 16px;
	cursor: pointer;
}

.x-grid-cell-checkcolumn .x-grid-cell-inner {
	padding-top: 4px;
	padding-bottom: 2px;
	line-height: 14px;
}

.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
	padding-top: 3px;
}

.x-grid-checkheader {
	height: 14px;
	background-image: url(images/unchecked.gif);
	background-position: 50% -2px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.x-grid-checkheader-checked {
	background-image: url(images/checked.gif);
}

.x-grid-checkheader-editor .x-form-cb-wrap {
	text-align: center;
}

#msg-div {
	position: absolute;
	left: 35%;
	top: 10px;
	width: 300px;
	z-index: 20000;
}

#msg-div .msg {
	border-radius: 8px;
	-moz-border-radius: 8px;
	background: #F6F6F6;
	border: 2px solid #ccc;
	margin-top: 2px;
	padding: 10px 15px;
	color: #555;
}

#msg-div .msg h3 {
	margin: 0 0 8px;
	font-weight: bold;
	font-size: 15px;
}

#msg-div .msg p {
	margin: 0;
}

.container-principal {
	margin-top: 60px;
}

.imageSpan {
	background: url(images/logout.png) no-repeat;
	text-indent: 20px;
	display: block;
}

.buttonHref {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf' );
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #444;
	padding: 6px 24px;
	text-decoration: none;
}

.buttonHref:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed) );
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed' );
	background-color: #dfdfdf;
}

.buttonHref:active {
	position: relative;
	top: 1px;
}

/* .x-column-header-inner {
	text-align: center;
} */

.gridHeader {
	text-align: center !important;
}