@CHARSET "UTF-8";

.title{
	font-size: 50px !important;
	color: #EAD10B;
	font-weight: bold;	 
}

.title-center{
	text-align: center;
}

.footer{
	padding-top: 20px;
	text-align: center;
}

.btn{
	border: none;
	width: 150px;
	padding: 10px;
	border-radius : 5px;
	cursor: pointer;
}

.btn-yellow{
	background: #F7E022;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
}

.message{
	font-size: 22px;
	color: #016EC2;
	text-align: center;
	
}



