/*
	CSS Para las paginas JSP en general.
*/
.container {
	margin: 0 auto;
	width: 95%;
	
}

*{
	font-family: verdana !important;
	
}

.header {
	margin-bottom: 40px;
	width: 1228px;
	padding: 10px;
	margin: 0 auto;
}

.header-panel {
	width: auto;
	margin: 0 auto;
	position: relative;
}

.labelTop-top{
	text-align: center;
	margin-left: 25%;
}

.content-panel {
	margin-bottom: 40px;
	width: 1228px;
	padding: 10px;
	margin: 0 auto;	
}

.grid-panel {
	width: auto;
	margin: 0 auto;
	position: relative;
}

.grid-filter{
	position: fixed;
	top: 30px;
	right: 5px;
}

.panelGrid{
	width: 1300px;
	margin: 0 auto;
}
.x-action-col-icon {
	height: 25px;
	cursor: pointer;
}

.x-body{
	font-family: corbel;
}
.x-window-body-default {
	padding-top : 20px !important;
}

.x-column-header-inner {
	text-align : center;
 	font-size: 13.3px !important;
 	padding-top: 5px !important;
 	color: #4A86E8 !important;
 	font-weight: bold;
}


.x-grid-with-row-lines .x-grid-cell-inner{
	font-size: 13px !important;
	text-align: center !important; 
}

.input-center{
	margin-left: 37%;
}

.x-panel-header-default{
	/*background-image: none !important;*/
	background-image: url("../images/panelBackground.jpg") !important;
	border-color: #2A83E7;
}
.x-window-header-default-top{
	background-image: url("../images/panelBackground.jpg") !important;
	
}
.x-panel-header-text-default{
	font-size: 16px;
	/*color: #689ACA;*/
	color : white;
}

.x-form-item-label{
	color: #003BBB;
	font-size: 14px;
}
.x-panel-header-text-default, .x-panel-header-text-default-framed 
{
	font-family: Corbel;
}

.x-btn .x-btn-center .x-btn-inner{
	font-size: 14.6px !important;	
}

.x-border-box .x-form-text{
	font-size: 14px !important;
}

.x-boundlist-list-ct{
	font-size: 13px;
}

.x-window-header-text-default{
	font-size: 14.6px !important;
	color: #FFF !important;
}
.x-window-default{
	background: #3089E7 !important;
}

.dock-button > em > button > span{
	color: #4A86E8 !important;
	font-weight: bold !important;
}

.dock-button{
	width: 80px;
}

.x-toolbar .x-toolbar-text{
	font-size: 12.5px !important;
}

.x-btn-icon{
	width : 20px !important;
}


.error-fragment-container {
	width: auto;
	margin: '0 auto';
	padding: 10px;
}

.error-fragment-header {
	text-align: left;
	font-size: 25px;
	padding-left: 19px;
	color: #CF0000;
	font-weight: bold;
	background-color: #F5E0E0;
}

.error-fragment-icon  {
	float: left;
	padding: 3px;
/* 	padding-top: 10px; */
	height: 100%;
	/* position: relative; */
}

.error-fragment-message  {
	float: left;
	padding: 10px;
	font-size: 18px;
	color: #000000;
}

.x-fit-item{
	overflow: hidden !important;
} 

.hr-historico {
	height: 7px;
	background-color: #F7E227;
}

.cabezote {
	background-attachment: scroll;
	background-clip: border-box;
	background-image:
		url(http://www.javerianacali.edu.co/sites/ujc/themes/ujc/images/bg-logoBack.png);
	background-origin: padding-box;
	background-size: auto;
	color: rgb(102, 102, 102);
	display: block;
	height: 97px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	text-align: left;
}

.cuerpo {
	background-attachment: scroll;
	background-clip: border-box;
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	color: rgb(102, 102, 102);
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	line-height: 19px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 940px;
	z-index: 1;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: left;
}