BODY 
{
  margin: 1px; font-family: Arial, Helvetica, sans-serif; background-color: white; text-align: left
}

#pagina 
{
  margin: 1px auto; WIDTH: 800px; text-align: left; border:1px solid #999
}

#bloque_cabecera 
{
  margin: 5px; float: left; width: 790px; border:1px solid #999
}

#bloque_pie 
{
  margin: 5px; float: left; width: 790px; border:1px solid #999
}

#bloque_central
{
  float: left; margin-left: 5px; width: 790px; margin-right: 5px; border:1px solid #999
}
